/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/dist
/database/database.sqlite
/public/js
/public/css
/public/img
/public/flags
/public/fonts
/public/webfonts
/public/scss
/public/assets
/public/svg
/public/icons
/public/vendors
/public/public
composer.phar
